/*

SECTIONS:

1.) Global

2.) Reusable

3.) Modules

4.) Page Specific

*/

/* ----------------------------------------------------------------
| 1.) Global
------------------------------------------------------------------- */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }

body {
	background: #e6e6e6;
	color: #cfcfc2;
	font-family: sans-serif;
	font-size: 16px;
	margin: 0;
}

a {
	color: #66d9ef;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
}

a:hover,
a:active {
	color: #f92672;
}

a:visited {
	color: #ae81ff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	color: #ffffff;
}

#wrapper {
	background: #272822;
	width: 60em;
	margin: auto;
	padding: 1em 1em;
}

.main-headline {
	margin: 0 0 1em 0;
}

/* ----------------------------------------------------------------
| 2.) Reusable
------------------------------------------------------------------- */

.section {
	border-left: 1em solid #464741;
	display: table;
	padding: 0 1em;
	margin-bottom: 1em;
	width: 100%;
}